<<<<<<< Updated upstream
.main
  .main__header
    %ul.main__header--info
      test
      %li.main__header--moder
        moder:sasaki
      %end
    %end
    .main__header--edit
      = link_to "edit", "#" ,class: "edit_link" ,:style=>"color:#38AEF0;"
  %end
  .main__message
    %ul.main__message--name
      sasaki 
      %li.main__message--time
        2020/07/14
      %end
    %end
    .main__message--text
      おはよう
    %end
    %ul.main__message--name
      sasaki
      %li.main__message--time
        2020/07/14
      %end
    %end
    .main__message--text
      おはよう
    %end
  %end
  .main__footer
    %form.main__footer--input
      .main__footer--input_box
        %input.main__footer--input_box_text{placeholder: 'type a message',type: 'text'}
        %label.main__footer--input_box_image
          = icon('far', 'image', class: 'message_input__icon')
          %input.Hidden{type: 'file'}
      %input.main__footer--submit{type: 'submit', value: 'send'}
    %end
  %end
%end
=======
＜チャット画面＞
>>>>>>> Stashed changes
