.main_chat
  .main_chat_group_info
    %ul.group_info_name
      test
      %li.group_info_moder
        moder:sasaki
    .group_info_edit
      = link_to "edit", "#" ,class: "edit_link " , :style=>"color:#38AEF0;"
  .main_chat_message_list
  .main_chat_message_from