<<<<<<< Updated upstream
.side
  .side__user
    .side__items
      %h1.side__name
        sasaki
      %end
      %ul.side__icon
        %li.side__edit
          = link_to do
            = icon('fas', 'edit')
        %li.side__cog
          = link_to do
            = icon('fas', 'cog')
    %end
  %end
  .side__group
    %h1.side__list
      tech-camp
    %end
    %ul.side__text
      メッセージ
    %end
  %end
%end
=======
＜サイドバー＞
>>>>>>> Stashed changes
