* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side {
  width: 300px; 
  background-color: #253111;
  .side__user {
    background-color: #253141;
    .side__items{
      height: 100px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      .side__name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffffff;
        font-size: 16px;
      }
      .side__icon {
        width: 60px;
        background-color: #253141;
        display: flex;
        justify-content: flex-end;
        .side__edit {
          margin-right: 5px;
          .fa-edit{color:#ffffff;}
        }
        .side__cog {
          .fa-cog{color:#ffffff;}
        }
      }
    }
  }
  .side__group {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    .side__box {
      box-sizing: border-box;
      a{
        text-decoration: none;
      }
      .side__list {
        width: 260px;
        margin: 0 20px;
        padding: 20px 0px 0px;
        font-size: 15px;
        color:#ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      .side__text {
        margin: 5px 20px 40px;
        font-size: 11px;
        color:#ffffff;
      }
    }
  }
}

.main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  .main__header {
    height: 100px;
    padding: 0 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    .main__header--info {
      margin: 35px 0px 15px;
      font-size: 20px;
      color:#333333;
      .main__header--memder{
        font-size: 12px;
        color: #999999;
        margin: 15px 0px 0px;
        display: flex;
        justify-content: flex-start;
        .main__header--moder{
          font-size: 12px;
          margin: 0px 0px 0px 5px;
          color: #999999;
        }
      }
    }
    .main__header--edit {
      height: 40px;
      font-size: 16px;
      border: 1px solid #38AEF0;
      margin: 28px 0px 0px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      .edit_link {
        text-decoration: none;
      }
    }
  }
  .main__message {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px 0px;
    .main__message--box{
      font-size: 12px;
      color: #999999;
      display: flex;
      align-items: center;
      .main__message--name{
        font-size: 16px;
        color: #333333;
        display: flex;
        align-items: center;
      }
      .main__message--time{
        font-size: 12px;
        color: #999999;
        margin: 0px 0px 0px 5px;
      }
    }
  }
  .main__message--text{
    color: #434a54
    font-size 20px;
    margin: 12px 0px 46px 0px;
  }
  .Footer {
    height: 90px;
    width: 100%;
    padding: 20px 40px;
    background-color: #d2d2d2;
    .Form {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
    .Form__contents{
      width: 100%;
      display: flex;
      position: relative;
    }
    .Form__inputContent {
      border: none;
      height: 50px;
      width: 100%;
      padding: 0px 40px 0px 10px;
    }
    .Form__icon{
      height: 50px;
      position: absolute;
      top: 10px;
      right: 10px; 
    }
    .Form__submit {
      height: 50px;
      font-size: 16px;
      padding: 0px 30px;
      margin: 0px 0px 0px 15px;
      background-color: #38aef0;
      color: #ffffff;
    }
    .Hidden{
      display: none;
    }
  }
}