* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side_chat {
  width: 300px; 
  background-color: #253111;
  .side_chat_user_name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    .side_chat_user_top_items{
      height: 20px;
      width: 260px;
      background-color: #253141;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      .side_chat_user_top__name {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 16px;
      }
      .side_chat_user_top__icon {
        width: 60px;
        background-color: #253141;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .side_chat_user_left__icon {
          margin-right: 5px;
          .fa-edit{color:#ffffff;}
        }
        .side_chat_user_right__icon {
          .fa-cog{color:#ffffff;}
        }
      }
    }
  }
  .side_chat_group_list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    .side_chat_group_list__message {
      width: 260px;
      margin: 0 20px;
      padding: 20px 0px 0px;
      font-size: 15px;
      color:#ffffff;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .side_chat_group_list__text {
      margin: 5px 20px 40px;
      font-size: 11px;
      color:#ffffff;
    }
  }
}

.main_chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  .main_chat_group_info {
    height: 100px;
    padding: 0 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    .group_info_name {
      margin: 35px 0px 15px;
      font-size: 20px;
      color:#333333;
      .group_info_moder{
        font-size: 12px;
        color: #999999;
        margin: 15px 0px 0px;
      }
    }
    .group_info_edit {
      height: 40px;
      font-size: 16px;
      border: 1px solid #38AEF0;
      margin: 28px 0px 0px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      .edit_link {
        text-decoration: none;
      }
    }
  }
  .main_chat_message_list {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px 0px;
    .message_list_name{
      font-size: 16px;
      color: #333333;
      display: flex;
      align-items: center;
    }
    .message_list_time{
      font-size: 12px;
      color: #999999;
      margin: 0px 0px 0px 5px;
    }
    .message_list_text{
      color: #434a54
      font-size 20px;
      margin: 12px 0px 46px 0px;
    }
  }
  .main_chat_message_from {
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
    .message_input{
      display: flex;
      justify-content: space-between;
    }
    .input.box{
      width: 100%;
      display: flex;
      position:relative;
    }
    .message_input__text {
      border: none;
      height: 50px;
      width: 100%;
      padding: 0px 40px 0px 10px;
    }
    .message_input__image{
      height: 50px;
      position: absolute;
      top: 10px;
      right: 10px; 
    }
    .Hidden{
      display: none;
    }
    .message_from__submit {
      height: 50px;
      font-size: 16px;
      padding: 0px 30px;
      margin: 0px 0px 0px 15px;
      background-color: #38aef0;
      color: #ffffff;
    }
  }
}








